/*CSS patches for older IE versions*/

#access .menu-header ul,
div.menu ul {
    display: inline;
    zoom: 1;
}

#access ul ul {
    left: 0;
}

#site-description {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c1f6f78,endColorstr=#4c1f6f78);
}

#access ul ul {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc216e29,endColorstr=#cc216e29);
}

#content {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc216e29,endColorstr=#cc216e29);
}

#content .entry-title {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2034228,endColorstr=#b2034228);
}

.entry-content,
.entry-summary {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c1f6f78,endColorstr=#4c1f6f78);
}

#primary {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc216e29,endColorstr=#cc216e29);
}

#footer {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00034228,endColorstr=#00034228);
}

